body {
    margin: 0;
    max-width: 1280px;
}


.photo {
    width: 1280px;
    margin: 0;

}

.nav-bar {
    margin: 31.5px 330px;
}


.nav-list {
    display: flex;
    align-items: center;
    margin-left: 0;

}


.nav-link {
    margin: auto;
    list-style-type: none;



}

.nav-ref {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}


.article {
    padding-top: 48px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    margin-bottom: 66px;
}


.title {
    margin-top: 0;
    margin-bottom: 38px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}


.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 0;
}


.paragraph {
    padding-bottom: 28px;
}


.button {
    display: flex;
    margin: 0 auto;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-text {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}

.footer {
    margin-top: 40px;
    padding-right: 105px;
}